* {
    background-color: #b1b1b1;
    margin: 0;
    padding: 0;
    border: 0;

    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 14px;
    font-weight: 300;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#form {
    height: 30rem;
    width: 40rem;
}

h2 {
    font-size: 20px;
    margin-top: 0.75rem;
}

.mainContainer {
    display: flex;
    background-color: aliceblue;
}


.chatWindow {
    border-radius: 18px;
    border-radius: 20px;
    overflow-y: auto;
    margin: auto;
    background-color: rgb(198, 199, 200);
    width: 100%;
    height: 100%;
}

.messages {
    float: right;
    width: 400px;
    background-color: #3a2929;
    margin: 0px 10px 5px 20px;
    padding: 10px;
    border-radius: 18px;
}

.messagesR {
    float: left;
    width: 400px;
    background-color: #3a2929;
    margin: 0px 10px 5px 20px;
    padding: 10px;
    border-radius: 18px;
}

.msgText {
    background-color: transparent;
    padding: 1%;
    overflow-wrap: break-word;
    letter-spacing: auto;
    width: 400px;
    color: #d7c7c7;
    letter-spacing: 1px;
    line-height: 1.2;
}

.userInfoBox {
    float: right;
    margin: 10px 120px 5px 30px;
    background-color: transparent;
}

.userInfo {
    padding-top: 10x;
    background-color: transparent;
}

.userInfoBoxR {
    float: left;
    margin: 10px 10px 5px 30px;
    background-color: transparent;
}

.userInfoR {
    padding-top: 10x;
    background-color: transparent;
}

.chatBoxSelf {
    width: 70%;
    float: right;
    background-color: transparent;
}

.chatBoxSelfReceived {
    width: 70%;
    float: left;
    background-color: transparent;
}

.message {
    background-color: aliceblue;
    width: 80%;
    height: 4rem;
    resize: none;
    padding: 10px;
    border-radius: 10px;
    line-height: 1.2;
}

.submitButton {
    background-color: rgb(89, 166, 234);
    width: 6.5rem;
    height: 2rem;
    border-radius: 10px;
}

.input {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    height: 4rem;
}

.submitButton:hover {
    background-color: aquamarine;
}

.submitButton:active {
    background-color: rgb(40, 97, 78);
}

#chatroom-id {
    background-color: transparent;
}

#codeBox {
    margin-top: 5px;
    align-content: center;
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #a29c9c;
    width: 130px;
    height: 40px;
    border-radius: 10px;
}

#btn-code-box {
    padding: 10px;
    padding-top: 0;
}

#chatBox {
    scroll-behavior: smooth;
}