*{
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  background-color: #dfc9c9;
  -webkit-text-size-adjust: 100%;
}

#username{
  margin: 5% auto;
  width: 50%;
  padding: 10px;
  place-items: center;
  justify-content: center;
  display: flex;
  
}

.join-public-chat:hover{
  background-color: #3920c793;
  width: 84px;
  height: 32px;
}

.join-public-chat:active{
  background-color: #f5ededf6;
  width: 78px;
  height: 28px;
}

.join-public-chat{
  float: right;
  width: 80px;
  height: 30px;
  border: 3px solid #722525;
}

.chat-display-template:hover{
  background-color: #ffffffc0;
}
.chat-display-template{
  background-color: #ffffff71;
  margin: 5px auto;
  width: auto;
  height: 30px;
  padding: 5px;
  border: 3px solid #000000;
}

#box{
  margin:  auto;
  text-align: center;
}
#public-chat{
  overflow-y: auto;
  margin: 1% auto;
  padding: 2px 4px 4px 2px;
  width: 50%;
  min-height: 300px;
  max-height: 300px;
  background-color: #ffffff6e;
  border: 3px solid #000000;
}

#UName{
  width: 200px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #000000;
}

.input-name {
  padding: 5px;
}

body {
  display: center;
  place-items: center;
  
}
